body {
    background-color: oldlace;
}
img{
    max-width: 100%;
    height: auto;
}
.fullPage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.fullPage {
    max-width: 90%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 3px 3px 7px -2px;
}
footer {
    max-width: 90%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 15px;
    box-shadow: 3px 3px 7px -2px;
}
/* 
footer li {
    display: flex;
}

footer ul {
    justify-content: space-around;
} */

.project-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
}

.project {
    border: 1px solid black;
    margin: 0px 15px 30px 15px;
    padding: 15px;
}